$backgroundcolor: #f4f0f0;
$maincontentcolor: #647B64;
$secondcontentcolor: #F3B562;
$gradientbtcolor: linear-gradient(102deg, #647B64 -4.62%, #66AC66 178.22%);
$gradientornage: linear-gradient(198deg, rgba(244, 108, 10, 0) -227.37%, rgba(228, 111, 27, 0.243) 1.58%, rgba(239, 128, 49, 0.00) 103.02%);
$gradientwhite: #647B64C4, #647B6400, #647B6400;
$white: #FFFFFF;
$footercolor: #F0DCC5;
$fonttype: 'Nunito Sans', sans-serif;
$textcolor1: #333;
$textcolor2: #4F4F4F;
$widthconteiner:1200px;
$mainmargin:30px;